* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    height: 100vh;
    background: #111;
}

canvas {
    display: block;
    background: #000;
}